form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0c1c26;
  font-family: "Montserrat", sans-serif !important;
}

input,
select,
textarea {
  border: 2px #0c1c26 solid;
  margin: 2%;
  border-radius: 10px;
  background-color: #0c1c26;
  color: white;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}

button {
  background-color: #0c1c26;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}
