/* ===================================FLOATING MENU============================================ */

.floating-menu {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: baseline;
    flex-flow: wrap;
    margin-top: 60px;
  }
  
  .avatar-img {
    width: 268px;
  }
  
  .avatar-ilu {
    height: 288px;
  }
  
  /* ================================FLOATING AVATARS========================================= */
  
  .avatar-decoration {
    width: 520px;
  }
  
  a,
  a:hover {
    text-decoration: underline;
  }
  
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
  }
  
  .scene-item {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  
  .scene-item-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 75%;
    will-change: transform, opacity;
    text-decoration: none;
    color: #d2c193 !important;
    transition: transform 1.5s ease-in-out;
  }
  
  .scene-figure {
    -webkit-animation: scene-figure 4.2s ease-in-out infinite;
    animation: scene-figure 4.2s ease-in-out infinite;
    will-change: transform;
    pointer-events: none;
  }
  
  .scene-prop {
    -webkit-animation: scene-prop 2.1s ease-in-out infinite;
    animation: scene-prop 2.1s ease-in-out infinite;
    will-change: transform;
    padding-top: 100%;
    pointer-events: none;
  }
  
  .scene-prop-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  
  .scene-prop-item--f {
    background-image: url(../images/buscame.png);
  }
  
  .scene-prop-item--v {
    background-image: url(../images/videos.png);
  }
  
  .scene-prop-item--n {
    background-image: url(../images/newsletter.png);
  }
  
  .scene-prop-item--m {
    background-image: url(../images/medios.png);
  }
  
  .scene-prop-item--c {
    background-image: url(../images/contacto.png);
  }
  
  .scene-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2vw) rotate(-15deg) scale(0);
    -webkit-transform: translate(-50%, -2vw) rotate(-15deg) scale(0);
    transform-origin: 20% 50%;
    will-change: transform, opacity;
    transition: 0.25s ease-in-out;
  }
  
  .has-touched .swiper-slide-active .scene-item-container .scene-header,
  .scene-item-container.active .scene-header,
  .scene-item-container:focus .scene-header,
  .scene-item-container:hover .scene-header {
    transform: translate(-50%, -2vw) rotate(0deg) scale(1);
    -webkit-transform: translate(-50%, -2vw) rotate(0deg) scale(1);
  }
  
  .scene-title {
    text-transform: uppercase;
    -webkit-transform: uppercase;
    font-size: 4vw;
    text-shadow: -0.125em 0.125em 0 #01223c;
    -webkit-text-stroke: 0.025em #01223c;
    text-align: center;
    line-height: 0.8;
    pointer-events: none;
  }
  
  .scene-item-container:hover .scene-header {
    transform: translate(-50%, -2vw) rotate(0deg) scale(1);
    -webkit-transform: translate(-50%, -2vw) rotate(0deg) scale(1);
  }
  
  /* ==========================AVATAR FLOATING ANIMATION======================================= */
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-15px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  @keyframes float2 {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(15px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  
  /* =======================AVATAR ANIMATIONS VARIATIONS==================================== */
  
  .avatar {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
  
  .avatar2 {
    transform: translatey(0px);
    animation: float2 6s ease-in infinite;
  }
  
  .avatar3 {
    transform: translatey(0px);
    animation: float 6s ease-out infinite;
  }
  
  .avatar4 {
    transform: translatey(0px);
    animation: float2 6s ease infinite;
  }