.content-container {
  /* border: red 2px solid; */
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 4%;
}

.oracle-body {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: white 2px solid; */
}

.oracle-title {
  font-size: 2.5vw;
  color: white;
  margin: 0;
}

.hashtag {
  color: #f2d5a0;
  font-weight: bold;
  font-size: 2vw;
}

.oracle-btn {
  background-color: #f2d8ee;
  border: none;
  border-radius: 25px;
  padding: 15px 32px;
}

.oracle-btn-link {
  color: black;
  text-decoration: none;
}

/* WIZARD STYLES */

.header-main-content {
  padding-top: 4%;
  /* border: red 2px solid; */
}

.oracle-title-container {
  /* border: yellow solid 2px; */
  width: 80%;
  padding-right: 20%;
  justify-self: center;
  /* margin-right: 30%; */
}

.oracle-response {
  display: flex;
  flex-direction: row;
  /* border: pink 2px solid; */
  width: 50%;
  padding-right: 8%;
  margin: 8% 0 8% 0;
}

.proverb {
  width: 50%;
}

.card {
  width: 40%;
  margin-right: 5%;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  /* border: green 2px solid; */
  width: 100%;
}

.personal-value {
  font-size: 2vw;
  display: none;
}

.more-info {
  /* border: yellow 2px solid; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 25%;
  /* padding: 5% 0 5% 0; */
}

.instagram-links-container {
  display: flex;
  flex-direction: column;
}

.instagram {
  text-decoration: none;
  color: white;
  margin-top: 5%;
  margin-right: 5%;
}

.instagram:hover {
  opacity: 0.5;
}

.ask-other-question {
  color: #bedcb2;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #f2d5a0;
  color: white;
}

.modal-body {
  background-color: #262626;
  padding: 2px 16px;
}

.dark-text {
  color: #262626;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #f2d5a0;
  color: white;
}

@media only screen and (max-width: 769px) {
  .header-main-content {
    flex-direction: column;
    align-items: flex-start;
    /* border: yellow solid 2px; */
  }

  .oracle-title-container {
    width: 60%;
    /* padding-right: 20%; */
    justify-self: center;
    /* margin-right: 30%; */
  }

  .logo-main-content {
    width: 70%;
    margin-top: 4%;
    margin-left: 1.5%;
    margin-bottom: 1%;
  }

  .oracle-title {
    font-size: 7vw;
    text-align: left;
    margin-left: 3%;
  }

  .hashtag {
    font-size: 7vw;
  }

  .content-container {
    flex-direction: column;
  }

  .oracle-response {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    /* padding-right: 8%; */
    /* margin: 8% 0 8% 0; */
  }

  .card {
    width: 100%;
    margin-right: 0;
  }

  .personal-value {
    font-size: 7vw;
  }

  .instagram-links-container {
    flex-direction: row;
  }

  .actions-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 5%;
  }

  .ask-other-question {
    /* border: white 2px solid; */
    width: 100%;
    margin-top: 5%;
  }

  /* .more-info {
    width: 80%;
  } */
}
